# Sandbox for interview

In [1]:
import pandas as pd
import numpy as np

## Load data

In [2]:
df_ingred = pd.read_csv("Data/ingredients.csv")
df_recipes = pd.read_csv("Data/recipes.csv")

In [17]:
df_ingred.head()

   ID_recipe      ingredients
0      10259  romaine lettuce
1      10259     black olives
2      10259   grape tomatoes
3      10259           garlic
4      10259           pepper

In [33]:
df_ingred.query(f"ID_recipe == {recipe}")

   ID_recipe           ingredients
0      10259       romaine lettuce
1      10259          black olives
2      10259        grape tomatoes
3      10259                garlic
4      10259                pepper
5      10259          purple onion
6      10259             seasoning
7      10259        garbanzo beans
8      10259  feta cheese crumbles

In [19]:
recipe = df_recipes["ID"][0]
df_ingred.query(f"ID_recipe == {recipe}")
# df_ingred[df_ingred["ID_recipe"] == recipe]

   ID_recipe           ingredients
0      10259       romaine lettuce
1      10259          black olives
2      10259        grape tomatoes
3      10259                garlic
4      10259                pepper
5      10259          purple onion
6      10259             seasoning
7      10259        garbanzo beans
8      10259  feta cheese crumbles

In [22]:
# merging

# make recipe ID index
df_recipes.set_index("ID", inplace=True)
df_recipes.head()

           cuisine
ID
10259        greek
25693  southern_us
20130     filipino
22213       indian
13162       indian

In [36]:
pd.merge(df_recipes, df_ingred, left_on="ID", right_on="ID_recipe")

        cuisine  ID_recipe      ingredients
0         greek      10259  romaine lettuce
1         greek      10259     black olives
2         greek      10259   grape tomatoes
3         greek      10259           garlic
4         greek      10259           pepper
...         ...        ...              ...
428270  mexican       2362           garlic
428271  mexican       2362      white sugar
428272  mexican       2362    roma tomatoes
428273  mexican       2362           celery
428274  mexican       2362    dried oregano

[428275 rows x 3 columns]

In [32]:
df_ingred.join(df_recipes, on="ID_recipe")

        ID_recipe      ingredients  cuisine
0           10259  romaine lettuce    greek
1           10259     black olives    greek
2           10259   grape tomatoes    greek
3           10259           garlic    greek
4           10259           pepper    greek
...           ...              ...      ...
428270       2362           garlic  mexican
428271       2362      white sugar  mexican
428272       2362    roma tomatoes  mexican
428273       2362           celery  mexican
428274       2362    dried oregano  mexican

[428275 rows x 3 columns]

In [6]:
df_ingred.drop_duplicates(inplace=True)
df_ingred["Dummy"] = 1

In [7]:
df_pivot = pd.pivot_table(df_ingred, index="ID_recipe",
                    columns="ingredients", values="Dummy", fill_value=0)

In [9]:
df_pivot.to_csv("Data/pivot_ingredients.csv")

In [22]:
df_pivot["romaine lettuce"].loc[10259]

1

:

In [17]:
df_ingred["ID_recipe"].iloc[10259]

43131

In [18]:
df_pivot["romaine lettuce"].iloc[10259]

0

In [5]:
df_ingred["Dummy"] = 1

In [5]:
df_dummy = df_ingred.pivot_table(index= "ID_recipe", columns="ingredients", values="Dummy", fill_value=0)

:

:

In [ ]:
df_dummy.to_csv("Data/pivoted_ingredients.csv")

In [9]:
res = pd.merge(df_recipes, df_dummy, left_on="ID", right_on="ID_recipe")
res

,ID,cuisine,( oz.) tomato sauce,( oz.) tomato paste,(10 oz.) frozen chopped spinach,"(10 oz.) frozen chopped spinach, thawed and squeezed dry",(14 oz.) sweetened condensed milk,(14.5 oz.) diced tomatoes,(15 oz.) refried beans,1% low-fat buttermilk,...,yukon gold potatoes,yuzu,yuzu juice,za'atar,zest,zesty italian dressing,zinfandel,ziti,zucchini,zucchini blossoms
0,10259,greek,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39769,29109,irish,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39770,11462,italian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39771,2238,irish,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39772,41882,chinese,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39773,2362,mexican,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

:

In [8]:
res = pd.merge(df_ingred, left_on="ID", right_on="ID_recipe")
res

        ID_recipe      ingredients  Test     ID  cuisine
0           10259  romaine lettuce     1  10259    greek
1           10259     black olives     1  10259    greek
2           10259   grape tomatoes     1  10259    greek
3           10259           garlic     1  10259    greek
4           10259           pepper     1  10259    greek
...           ...              ...   ...    ...      ...
428270       2362           garlic     1   2362  mexican
428271       2362      white sugar     1   2362  mexican
428272       2362    roma tomatoes     1   2362  mexican
428273       2362           celery     1   2362  mexican
428274       2362    dried oregano     1   2362  mexican

[428275 rows x 5 columns]

In [ ]:
pd.pivot_table(df_ingred, value)

In [39]:
df_ingred.pivot(index="ID_recipe", columns="ingredients")

ValueError: Index contains duplicate entries, cannot reshape

## Dask

In [1]:
import dask.dataframe as dd

In [10]:
ddf = dd.from_pandas(df_ingred, npartitions=10)

In [11]:
ddf

Dask DataFrame Structure:
               ID_recipe ingredients  Dummy
npartitions=10
0                  int64      object  int64
42828                ...         ...    ...
...                  ...         ...    ...
385452               ...         ...    ...
428274               ...         ...    ...
Dask Name: from_pandas, 10 tasks

In [12]:
ddf = ddf.categorize(columns=["ingredients"])
ddf_dummy = ddf.pivot_table(index= "ID_recipe", columns="ingredients", values="Dummy")

In [14]:
ddf_dummy.compute()

:

: